body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Header section */

.header, .footer {
    background-color: #1F2937;
}

.header {
    height: 400px;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

h3 {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.head-button {
    border: none;
}

ul, a {
    list-style-type: none;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    gap: 16px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 75px;
    gap: 10px;
}

.mid-header {
    display: flex;
    justify-content: space-around;
}

img {
    height: auto;
    max-width: 150px;
}

/* also applies some style to button in sign up section */

button {
    background-color: #3882f6;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    color: #e5e7eb;
    font-weight: 700;
}

/* random information/top part of the body */

.body-one {
    max-height: 400px;
}

.body-title {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #1f2937;
    margin-top: 30px;
}

.box {
    width: 170px;
    height: 170px;
    border: 4px solid rgb(3, 135, 179);
    border-radius: 25px;
    margin: 20px;
}

.box-container {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.text {
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    margin-left: 35px;
}

/* quotes section */

.body-two {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-container {
    max-width: 800px;
}

.signature {
    font-size: 24px;
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}

/* sign up section */

.body-three {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-container {
    background-color: #3882f6;
    width: 956px;
    height: 150px;
    border-radius: 10px;
    padding: 20px 80px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-button {
    border: 1px solid #e5e7eb;
}

.sign-left {
    display: flex;
    flex-direction: column;
}


h4 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0;
}

.sign-para {
    padding: 0;
    margin: 0;
}

/* footer */

.footer {
    height: 80px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}