body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h3 {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.head-button {
    background-color: #3882f6;
    border: none;
}

ul, a {
    list-style-type: none;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    gap: 16px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.mid-header {
   margin-left: 153px;
   margin-top: 30px;
   margin-right: 70px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 300px;
   gap: 5px;
}

img {
    display: flex;
    height: auto;
    max-width: 150px;
    justify-content: flex-end;
    margin-top: 15px;
}

button {
    max-width: 130px;
    height: 35px;
    border-radius: 10px;
    color: #e5e7eb;
    font-weight: 700;
}

